$color-default : #aaa09f;
$text-default : #0000;

$color-success : #e1f3db;
$text-success : #3b8822;

$color-info : #9ddeffe6;
$text-info : #2889b9e6;

$color-warning : #fae898;
$text-warning : #bb8c35;


$color-error : #f5959b;
$text-error : #ad2730;

$progress-color : #777777;