* {
    box-sizing: border-box;
}

.fab-alert {
    padding: .6rem;
    width: 250px;
    height: 50px;
    right: 5px;
    z-index: 99999;
    bottom: 5px;
    position: fixed;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    background: rgba(71, 175, 97, 0.9);
    border-color: rgba(71, 239, 184, .9);
    border-radius: 2px;

    .fab-alert-body {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .fab-alert-close {
        width: 10px;
        height: auto;
        background-color: unset;
        border: none;
        color: unset;

        &::before {
            transform: rotate(45deg);
        }

        &::after {
            transform: rotate(-45deg);
        }

        &::after,
        &::before {
            position: absolute;
            content: ' ';
            height: 15px;
            width: 2px;
            background-color: #333;
        }
    }
}