/*
* FabAlert | v1.0.0
* http://fabalert.fabienwinkler.com
* by Fabien Winkler.
*/
@import 'variables';
@import '_animations';

* {
    box-sizing: border-box;
}

.fab-alert-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    right: 5px;
    transition: all .5s ease;
    padding: .5rem;
    width: auto;
    height: fit-content;
    max-width: 200px;
    max-height: 50%;

    &.center {
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }

    &.rightTop {
        top: 5px;
        bottom: unset;
        left: unset;
    }

    &.leftBottom {
        right: unset;
        left: 5px;
        top: unset;
    }

    &.leftTop {
        right: unset;
        left: 5px;
        top: 5px;
        bottom: unset;
    }

    .fab-alert {
        padding: .6rem;
        width: 100%;
        margin-bottom: .5rem;
        // right: 5px;
        z-index: 99999;
        // bottom: 5px;
        // position: fixed;
        box-shadow: .5rem .5rem 1rem rgba(0, 0, 0, .15) !important;
        display: flex;
        align-items: center;
        background-color: $color-default;
        // border: 1px solid $color-default;
        border-radius: 5px;
        transition: all .5s ease;

        &:last-child {
            margin-bottom: 0;
        }

        &.success {
            background-color: $color-success;
            border-color: $text-success;
            color: $text-success;

            svg {
                fill: $text-success;
            }

            .fab-alert-close {

                &::before,
                &::after {
                    background-color: $text-success;
                }
            }
        }

        &.info {
            background-color: $color-info;
            border-color: $text-info;
            color: $text-info;

            svg {
                fill: $text-info;
            }

            .fab-alert-close {

                &::after,
                &::before {
                    background-color: $text-info;
                }
            }
        }

        &.warning {
            background-color: $color-warning;
            border-color: $text-warning;
            color: $text-warning;

            svg {
                fill: $text-warning;
            }

            .fab-alert-close {

                &::after,
                &::before {
                    background-color: $text-warning;
                }
            }
        }

        &.error {
            background-color: $color-error;
            color: $text-error;
            border-color: $text-error;

            svg {
                fill: $text-error;
            }

            .fab-alert-close {

                &::before,
                &::after {
                    background-color: $text-error;
                }
            }
        }

        .fab-alert-icon {
            margin-right: 1rem;
            height: 30px;
            width: 30px;
        }

        .fab-alert-body {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: .4rem;

            .fab-alert-title {
                margin: 0 1rem 0 0;
                font-size: 1rem;
            }

            .fab-alert-message {
                margin: 0 1rem 0 0;
                font-size: .8rem;
            }
        }

        .fab-alert-close {
            position: relative;
            margin-left: auto;
            cursor: pointer;
            outline: none;
            opacity: .5;
            width: 25px;
            padding: .4rem;
            height: 100%;
            border: none;
            background-color: unset;
            transition: opacity .3s ease;

            &:hover {
                opacity: 1;
            }

            &::before {
                transform: rotate(45deg);
            }

            &::after {
                transform: rotate(-45deg);
            }

            &::after,
            &::before {
                position: absolute;
                content: ' ';
                height: 15px;
                width: 2px;
                background-color: #333;
                top: 0;
            }
        }

        .fab-alert-progress {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            z-index: 1;

            div {
                height: 4px;
                background-color: currentColor;
                border-radius: 0 0 5px 5px;
            }
        }
    }
}